.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background {
  width: 90%;
  margin-top: 5rem;
}

.battle {
  position: relative;
}

.enemy {
  width: 50%;
  top: 1rem;
  right: 1rem;
  position: absolute;
  image-rendering: pixelated;
}

.pet {
  width: 50%;
  top: 7rem;
  left: 0;
  position: absolute;
  image-rendering: pixelated;
}

.hurt {
  animation: hurt 0.4s;
  animation-iteration-count: 4;
}

.attack {
  animation: attack 0.4s;
}

@keyframes hurt {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes attack {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}
