.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background {
  width: 90%;

  max-width: 80rem;
}

.battle {
  margin-top: 1rem;
  position: relative;
  max-height: 40rem;
}

.enemy {
  width: 50%;
  top: -4rem;
  right: 1rem;
  position: absolute;
  image-rendering: pixelated;
}

.pet {
  width: 50%;
  top: 4rem;
  left: 0;
  position: absolute;
  image-rendering: pixelated;
}

@media (max-width: 600px) {
  .enemy {
    width: 50%;
    top: -1rem;
    right: 1rem;
    position: absolute;
    image-rendering: pixelated;
  }

  .pet {
    width: 50%;
    top: 2rem;
    left: 0;
    position: absolute;
    image-rendering: pixelated;
  }
}

.hurt {
  animation: hurt 0.3s;
  animation-delay: 0.4s;
  animation-iteration-count: 3;
}

.attack {
  animation: attack 0.4s;
}

@keyframes hurt {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes attack {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}
